{% extends "index.html" %}
{% block title %}Document / Search Document{% endblock title %}
{% load static %}

{% block body %}
<div class="container-fluid row ">
    <div class="col-md-4">
        <h1 class="ps-3 brand"><span class="text-success">S</span>earch <span class="text-success">D</span>ocument</h1>
    </div>
    <hr>
</div>

<div class="text-center text-white">
    {% if data|length < 1 %}
    Your Search <b>{{query}}</b> did not Match
        <ul>
            <li>Make sure you have spelled correct</li>
        </ul>
    {% endif %}
  </div>

  <div class="container-fluid mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in data %}
            
        <div class="card container-fluid col-md-10 round mb-5">
            <div class="card-header row">
                <div class="col-md-8 ps-4">
                    <h1 class="h1 fw-bold">{{ post.title }}</h1>
                </div>
                
                <div class="col-md-4 text-end pt-3">
                    <h6 class="fs-5">{{post.date}} | {{post.time}}</h6>
                </div>
            </div>
            <div class="card-body">
              
              <p class="card-text">{{ post.content|safe }}</p>
              
            </div>
            <div class="card-footer row p-2 pt-3">
                
                <div class="col-md-12 text-end ">
                    <a href="/document/update/{{post.id}}" class="btn btn-primary me-3 fs-5"><i class="bi bi-pencil-square "></i> Update</a>
                    <a href="/document/delete/{{post.id}}" class="btn btn-danger me-5 fs-5 ps-3 pe-3"><i class="bi bi-trash-fill "></i> Delete</a>
                </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}