{% extends "index.html" %}
{% block title %}ToDo List/ Email Sented Message{% endblock title %}
{% block body %}
{% load static %}
{% load socialaccount %}
<div class="container mt-4">


    <div class="container-fluid bg-light p-3 ">
        <h3 class="text-center text-success brand">Password Reset Sent</h3>
        <hr>
        <div class="fs-4">
            <p>We've emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
                your spam folder.

            </p>
        </div>
    </div>
</div>

{% endblock %}