{% extends "index.html" %}
{% block title %}ToDo List/ Home{% endblock title %}
{% load static %}
{% block body %}

<div class="row homeviews me-5 mt-1">
    <div class="col-md-7">
        <h1 class="todoquote fs-1">Each Day I Will Accomplish One Thing on My <a href="/todo" title="Create New Task" class="text-success fw-bold">TO-DO</a> List. </h1>
    </div>
    <div class="col-md-4 p-0">
        <img src="{% static 'images/todo.png' %}" alt="todo image" width="100%" height="100%">
    </div>

<div class="row mt-0 mb-5 pb-5">
    <div class="col-md-7 ms-5 ps-5">
        <img src="{% static 'images/home_document.png' %}" class="shadow-lg" alt="document editor images" width="100%" height="100%">
    </div>

    <div class="col-md-4">
        <p class="todoquote fs-1">We can create <a href="/document" title="Create New Document" class="text-success fw-bold ">Simple Document</a>,<br> We can Take a Notes using us.<br> </p>
    </div>
</div>
</div>
{% endblock %}