{% extends "index.html" %}
{% block title %}Todo/ Reset Password{% endblock title %}
{% block body %}

<div class="container col-md-6 mt-5 p-5">
    <h1 class="text-center">Reset Password</h1><hr>
    <p class="text-danger"><b>Enter a new password to reset the password on your account.We'll ask for this password
            whenever you login.</b></p>
    
            
    <form action="" method="post" class="form-group">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button type="submit" class="form-control btn btn-success mt-2">Reset Password</button>
    </form>
    
    
</div>
{% endblock %}